.ex{
    color: rgb(223, 18, 18);
    font-size: 22px;
    text-decoration: none;
    background-color: black;
    
}
.exx{
    
    color: blue;
    text-decoration: none;
    background-color: black;
    
}